.react-flow__handle {
    top: auto;
    width: 40px;
    height: 40px;
    transform: none;
    background-color: transparent;
    align-content: center;
}

.react-flow__handle-left {
    left: -12px;
}

.react-flow__handle-right {
    right: -26px;
}

.react-flow__panel.center {
    top: auto;
    left: auto;
    transform: auto;
    margin: 0px;
}

.react-flow__node {
    border: solid 2px #00000000;
}

.react-flow__node.selectable:focus {
    box-shadow: 0px 10px 30px gray;
    border-radius: 15px;
    @apply bg-white;
}

.react-flow__handle.valid svg {
    fill: theme('colors.green');
}