.react-flow__handle {
    top: auto;
    width: 18px;
    height: 18px;
    transform: none;
    border: solid 2px rgb(252, 252, 252);
    background-color: black;
}

.react-flow__handle-left {
    left: -10px;
}

.react-flow__handle-right {
    right: -10px;
}

.gadgetPalette .react-flow__handle {
    width: 10px;
    height: 10px;
}

.gadgetPalette .react-flow__handle-left {
    left: -2px;
}

.gadgetPalette .react-flow__handle-right {
    right: -2px;
}

.react-flow__handle-valid {
    transform: scale(1.2);
}

.handle-inline {
    display: inline-block;
    position: inherit;
    height: 14px;
    width: 14px;
}

.react-flow__panel.center {
    top: auto;
    left: auto;
    transform: auto;
    margin: 0px;
}

.gadgetPalette {
    background-color: rgba(225, 225, 225, 0.9);
    min-width: 100px;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0px;
    padding-left: 3px;
    padding-right: 3px;
    overflow-y: scroll;
}

.insertGadgetButton {
    display: flex;
    justify-content: center;
    padding-left: 3px;
    padding-right: 3px;
}

.react-flow__node {
    border: solid 2px #00000000;
}

.react-flow__node.selectable:focus {
    box-shadow: 0px 0px 10px gray;
    border-radius: 15px
}

.react-flow__controls-button {
    width: 30px;
    height: 30px;
}

.react-flow__controls-button svg {
    max-width: 20px;
    max-height: 20px;
    width: 20px;
    height: 20px;
}