.react-flow__handle {
    top: auto;
    width: 18px;
    height: 18px;
    transform: none;
    border: solid 2px rgb(252, 252, 252);
    background-color: black;
}

.react-flow__handle-left {
    left: -10px;
}

.react-flow__handle-right {
    right: -10px;
}

.gadgetPalette .react-flow__handle {
    width: 10px;
    height: 10px;
}

.gadgetPalette .react-flow__handle-left {
    left: -2px;
}

.gadgetPalette .react-flow__handle-right {
    right: -2px;
}

.react-flow__handle-valid {
    transform: scale(1.2);
}

.handle-inline {
    display: inline-block;
    position: inherit;
    height: 14px;
    width: 14px;
}

.react-flow__panel.center {
    top: auto;
    transform: auto;
    margin: 0px;
}

.gadgetPalette {
    background-color: rgba(225, 225, 225, 0.9);
    width: 100vw;
    margin: 0px;
    display: flex;
    position: relative;
    left: 0px;
    top: 0px;
    padding-left: 3px;
    padding-right: 3px;
    overflow-x: scroll;
}

.insertGadgetButton {
    display: flex;
    padding-left: 3px;
    padding-right: 3px;
}

.react-flow__node {
    border: solid 2px #00000000;
}

.react-flow__node.selectable:focus {
    border: solid 2px gray;
    border-radius: 15px
}