body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(252, 252, 252);
    font-size: 1em;
}

.problemSelectionPane {
    width: 100vw;
    text-align: center;
    padding-top: 100px;
}

.problemSelectionText {
    font-size: 1.4em;
    margin: 20px;
}

button {
    font-size: 1.2em;
    background-color: rgb(252, 252, 252);
    ;
    border: solid 2px black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px
}

button:hover {
    background-color: black;
    color: rgb(252, 252, 252);
}

.helpBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000000aa;
}

.helpWindow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    min-width: 700px;
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}

.helpWindow>ul {
    list-style-type: none;
    text-align: left;
    line-height: 40px;
}